aws_region          = "us-east-1"
project_name        = "calculadora-financeira"
environment         = "dev"
container_port      = 8501
desired_count       = 1
cpu                 = 256
memory              = 512
enable_load_balancer = false
app_ingress_cidrs   = ["0.0.0.0/0"]
container_image_tag = "latest"
